<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	autoReload="true"
	throwExceptions="false"
	internalLogLevel="Trace"
	internalLogFile="C:\TEMP\NLog-Internal.log"
	>

	<targets>
		<target name="Target1" xsi:type="File" fileName="LogFile11.txt"/>
		<target name="Target2" xsi:type="File" fileName="LogFile12.txt"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="Target1"/>
		<logger name="*" level="Fatal" writeTo="Target2"/>
	</rules>
</nlog>
